@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-primary:"#278320";
  --color-secondary:"#59C352";

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}